# Data & models (usually too large for git)
data/train/*
data/val/*
data/test/*
!data/train/.gitkeep
!data/val/.gitkeep
!data/test/.gitkeep

models/*.h5
models/*.png
models/class_indices.json

static/uploads/*
!static/uploads/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

# OS/editor
.DS_Store
.vscode/
.idea/
